/*  -------------------------------------------------Basic Setup----------------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: rgba(85, 85, 85, 0.67);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom:1;}
.clearfix:after{
    content:".";
    clear:both;
    height: 0;
    display: block;
    visibility: hidden;
}

a{
    color:#e67e22;
    text-decoration: none;
    padding-bottom: 2px;
}

a:hover{
    color:#555;
}


/*-----------------------------------------------Login Page--------------------------------------------------------*/

.main-container{
    background-color: #f5f5f5;
    min-height: 100vh;
}

#logo{
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.logo-container{
    padding-top: 120px;
}

.signin-heading{
    margin: 25px 0;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.form-container{
    margin: 30px 0;
}

.btn-success{
    background-color: #27ae60!important;
}


.navbar{
    background-color: white;
    margin: 0 -1%;
    width: 102%;
    padding-left: 30px;
    height: 15vh;
}

#navbarSupportedContent{
    height: 40px;
    margin-left: 50px;
    padding-top: 25px;
}

.nav-link{
    font-size: 15px;
    letter-spacing: .18em;
    margin: 0 5px;
}

.nav-link:hover{
    color: #27ae60!important;
}


.hero-section{
    height: 85vh;
    background: linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8)), url("../Images/newback.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#coffee-img{
    margin-top: 15vh;
    margin-left: 20px;
    transform: rotate(14deg);
}

.hero-1, .hero-2{
    height: 100%;
}

.hero-2{
    padding-top: 220px;
    padding-left: 50px;
}

h4, h2{
    color: white;
    text-align: center;
    letter-spacing: 0.08em;
    word-spacing: 1px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h2{
    font-variant: small-caps;
    font-weight: 500;
    margin-bottom: 30px;
}

h4{
    font-size: 25px;
}

.hero-btn{
    margin-top: 50px;
    margin-left: -1.5%;
    padding: 4px 30px;
    font-variant: all-small-caps;
    border-radius: 6px;
    background-color: #27ae60;
    border: 0;
    outline: none;
    color: white;
}

.hero-btn:hover{
    background-color: #27ae60;
}